<a href="https://colab.research.google.com/github/osamamalik234/DS-A/blob/main/Lab_01_20SW032.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab#01- Data Types and Operators

Roll No: 20SW032

Section: II

In [3]:
# Task NO:1

num = 20
name = "Hello bro"
print("The value of variable1 is {} and the value of variable2 is '{}'.".format(num, name))

The value of variable1 is 20 and the value of variable2 is 'Hello bro'.

In [10]:
# Task NO:2

str1 = "hello World"

# convert it to upper case
print(str1.upper())

# convert it to lower case
print(str1.lower())

# capitalize the each first word of string
print(str1.title())

# startWith method on string
print(str1.startswith("h"))

# endWith method on String
print(str1.endswith("s"))

HELLO WORLD
hello world
Hello World
True
False

In [13]:
# Task NO: 3

month = 8
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]

num_of_days = days_in_month[month -1]
print(num_of_days)

31

In [14]:
# Task NO:4

eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015','March 9, 2016' ]

most_recent_dates = eclipse_dates[-3:]
print(most_recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [15]:
# Task NO:5

# Creating a nested dictionary to store student data
students_data = {
    "student1": {
        "name": "John Smith",
        "age": 18,
        "grade": "12th",
        "subjects": ["Math", "Science", "English"],
    },
    "student2": {
        "name": "Alice Johnson",
        "age": 17,
        "grade": "11th",
        "subjects": ["History", "Geography", "Art"],
    },
    "student3": {
        "name": "Michael Brown",
        "age": 16,
        "grade": "10th",
        "subjects": ["Physics", "Chemistry", "Biology"],
    }
}

# Accessing student data
print(students_data["student1"]["name"])
print(students_data["student2"]["grade"])
print(students_data["student3"]["subjects"])

John Smith
11th
['Physics', 'Chemistry', 'Biology']