<a href="https://colab.research.google.com/github/osamamalik234/DS-A/blob/main/Lab_10_20SW032.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Task**

##*Download this dataset: Online Payments Fraud Detection Dataset Implement two of the classifiers (Decision tree and na√Øve bayes) and compare the performance of each classifier.*

In [77]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

##Load Data from csv file

In [78]:
data = pd.read_csv("/content/PS_20174392719_1491204439457_log.csv")
data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0.0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0.0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0.0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0.0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1266980,135,PAYMENT,12041.68,C979862958,0.0,0.00,M1991333551,0.0,0.0,0,0.0
1266981,135,PAYMENT,23041.42,C701848871,0.0,0.00,M300831397,0.0,0.0,0,0.0
1266982,135,PAYMENT,21131.52,C396554179,0.0,0.00,M1809500086,0.0,0.0,0,0.0
1266983,135,PAYMENT,427.29,C1759875983,0.0,0.00,M201170764,0.0,0.0,0,0.0
1266984,135,PAYMENT,21486.10,C186758407,0.0,0.00,M914039970,0.0,0.0,0,NaN

## check for NAN values

In [79]:
data.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    1
dtype: int64

In [80]:
 # taking mean of 'isFlaggedFraud' column
mean = data['isFlaggedFraud'].mean()
data['isFlaggedFraud'].fillna(mean, inplace=True)

In [81]:
# check for null values
data.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [82]:
#Select relevant columns
columns_of_interest = ['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
                         'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud', 'isFlaggedFraud']

selected_data = data[columns_of_interest]

# Handle categorical variables (one-hot encoding for 'type', label encoding for 'nameOrig' and 'nameDest')
selected_data = pd.get_dummies(selected_data, columns=['type'])

label_encoder = LabelEncoder()
selected_data['nameOrig'] = label_encoder.fit_transform(selected_data['nameOrig'])
selected_data['nameDest'] = label_encoder.fit_transform(selected_data['nameDest'])

In [83]:
# Assumming 'isFraud' my target variable
# features = selected_data.drop('isFraud', axis=1)
# labels = selected_data['isFraud']
target = data[['isFraud']]

In [84]:

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(selected_data, target, test_size=0.2, random_state=42)

In [ ]:
# Create and train a Decision Tree classifier
dt_classifier = DecisionTreeClassifier()
dt_classifier.fit(X_train, y_train)

# Create and train a Naive Bayes (Gaussian) classifier
nb_classifier = GaussianNB()
nb_classifier.fit(X_train, y_train)

# Make predictions on the test data
dt_predictions = dt_classifier.predict(X_test)
nb_predictions = nb_classifier.predict(X_test)

In [88]:
# Evaluate performance
dt_accuracy = accuracy_score(y_test, dt_predictions)
nb_accuracy = accuracy_score(y_test, nb_predictions)

# Print results
print("Decision Tree Accuracy:", dt_accuracy)
print("Naive Bayes Accuracy:", nb_accuracy)

Decision Tree Accuracy: 1.0
Naive Bayes Accuracy: 0.9832673630705967

In [89]:
# Compare additional metrics
print("Decision Tree Classification Report:")
print(classification_report(y_test, dt_predictions))

print("Naive Bayes Classification Report:")
print(classification_report(y_test, nb_predictions))

Decision Tree Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    253084
           1       1.00      1.00      1.00       313

    accuracy                           1.00    253397
   macro avg       1.00      1.00      1.00    253397
weighted avg       1.00      1.00      1.00    253397

Naive Bayes Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.98      0.99    253084
           1       0.03      0.34      0.05       313

    accuracy                           0.98    253397
   macro avg       0.51      0.66      0.52    253397
weighted avg       1.00      0.98      0.99    253397